# Flask - микрофреймворк для создания веб-приложений
Flask==2.0.1
# Flask-SQLAlchemy - библиотека для взаимодействия с базой данных через ORM
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.1
Werkzeug==2.0.1